# App
APP__NAME="Casa Mecate API"

# Database (Postgres)
POSTGRES_USER=casamecate
POSTGRES_PASSWORD=casamecate_dev_password
POSTGRES_DB=casamecate
POSTGRES_PORT=5432
DATABASE__URL=postgresql+asyncpg://casamecate:casamecate_dev_password@localhost:5432/casamecate
